* {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: "Geoform";
    src: url(../fonts/Geoform-Bold.otf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf);
}

body {
    background: url("../images/background3.jpg");
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex: 1;
    margin: auto;
    padding: 1rem 0;
}

header {
    background: linear-gradient(rgba(72, 41, 107, 0.8), rgba(29, 27, 58, 0.8));
    color: white;
    padding: 1rem;
    z-index: 1;
    border-bottom: 2px solid white;
    box-shadow: 0 3px 3px white;
}

header h1 {
    font-family: "Geoform";
    text-shadow: 3px 3px 3px black;
    padding: 0 1rem 1rem;
}

header nav ul li {
    display: inline;
    padding: 1rem;
}

#nav-icon {
    display: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#nav-icon:hover {
    cursor: pointer;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

.mobile-nav {
    display: none;
    background: linear-gradient(rgba(72, 41, 107, 0.8), rgba(29, 27, 58, 0.8));
    border-bottom: 2px solid white;
    box-shadow: 0 3px 3px white;
    padding: 2rem;
    overflow: hidden;
}

.mobile-nav ul {
    list-style-type: none;
}

a {
    font-family: "Comfortaa";
    color: #fca311;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

a:hover {
    color: white;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

.activeNav {
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.mainImg {
    background-color: white;
    object-fit: cover;
    object-position: 0% 10%;
    width: 20dvw;
    height: 20dvw;
    margin: 1rem 1rem -1.5rem;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 3px 3px white;
    z-index: 2;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}

.column {
    display: grid;
    grid-template-columns: auto auto auto;
}

.container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: linear-gradient(rgba(72, 41, 107, 0.8), rgba(29, 27, 58, 0.8));
    border: 2px solid white;
    padding: 1rem;
    margin: 1rem;
    min-width: 20vw;
    min-height: 8rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 3px 3px white;
}

.container h3 {
    color: #fca311;
}

.container img {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hover-container {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.hover-container:hover {
    cursor: pointer;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

#main-container {
    width: 50vw;
}

h2 {
    font-family: "Geoform";
    color: white;
}

h3,
h4,
p {
    font-family: "Comfortaa";
    color: white;
    line-height: 1.5;
    padding: 0.5rem;
}

.games-section {
    width: 100%;
}

iframe {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(29, 27, 58, 0.8), rgba(72, 41, 107, 0.8));
    border-top: 2px solid white;
    width: 100%;
    height: 6rem;
    z-index: 1;
    box-shadow: 0 -3px 3px white;
}

#loader {
    border: 16px solid white;
    border-top: 16px solid #fca311;
    width: 120px;
    height: 120px;
    margin: 1rem;
    animation: spin 2s linear infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gordon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gordon:hover {
    opacity: 1;
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.centerContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 2;
}

video {
    width: 80vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 3px 3px black;
}

.steve {
    height: 80vh;
    animation: fadeOut 0.5s;
    -webkit-animation: fadeOut 0.5s;
}

.fa-solid {
    color: white;
    font-size: 2rem;
    margin: 10px;
}

.fa-brands {
    color: white;
    font-size: 2rem;
    margin: 10px;
}

@keyframes fadeOut {
    25% {
        transform: scale3d(1.2, 1.2, 1.2);
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -ms-transform: scale3d(1.2, 1.2, 1.2);
        -o-transform: scale3d(1.2, 1.2, 1.2);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1280px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    section {
        width: 100vw;
    }
    .desktop-nav {
        display: none;
    }
    #nav-icon {
        display: block;
    }
    .column {
        grid-template-columns: auto;
    }
    .container {
        width: 80%;
        margin: 1rem auto;
    }
    #main-container {
        width: 80%;
    }
    h2 {
        font-size: 1em;
    }
}
